<h1>Posts</h1>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <div>
    <p title="<%= post.created_at %>"><%= time_ago_in_words(post.created_at) %> ago</p>
    <p><%= link_to 'Edit', edit_post_path(post) %></p>
    <p><%= post.body %></p>
  </div>
<% end %>
